
body 
{
    background-color: #F8E0EC;
    font-size: 20px;
}

p 
{
    color: #8A4B08;
    font-size: 30px;
}

td 
{
    vertical-align: top;
    text-align: left;

}

.hclass
{
    font-weight:700;
    width:20%;
}

.formtable
{
    width: 400px;
}

.bigtable
{
    width:1200px;
}

textarea
{
    resize : none;
}